<div class="container-fluid p-0">
<div class="container">
  <h1 class="text-center font-weight-bold my-5">Missão, Visão e Valores</h1>
  <ul class="d-flex list-unstyled">
    <li class="text-center p-3 w33">
      <img src="../../assets/quem-somos/foguete.png" style="width:100%;" alt="">
      <h5 class="text-center font-weight-bold">MISSÃO</h5>
      <p>Melhoramos a qualidade e segurança no trabalho e conscientizamos sobre a importância de seguir à risca os cuidados dentro da nossa área.</p>
    </li>
    <li class="text-center p-3 w33">
      <img src="../../assets/quem-somos/olho.png" style="width:100%;" alt="">
      <h5 class="text-center font-weight-bold">VISÃO</h5>
      <p>Atuar de maneira nacional, ser uma referência de qualidade e informação de forma inovadora e objetiva.</p>
    </li>
    <li class="text-center p-3 w33">
      <img src="../../assets/quem-somos/valor.png" style="width:100%;" alt="">
      <h5 class="text-center font-weight-bold">VALORES</h5>
      <p>Segurança, Confiança, Comprometimento, Ética, Bem Estar, Saúde, Informação.</p>
    </li>
  </ul>
</div>
<div class="bg-logo py-5"><img class="m-auto d-block p-4" src="../../assets/quem-somos/logo.png" style="width:30%;" alt="">
</div>

  <div class="container-fluid my-5">
    <h2 class="text-center font-weight-bold my-5">Nossa Equipe</h2>
    <div class="container">
      <ul class="d-flex list-unstyled">
        <li class="li-membros">
          <img src="../../assets/quem-somos/ju.jpeg" style="width: 100%;" alt="">
          <h4 class="text-center font-weight-bold my-2">Julianne<a _ngcontent-iln-c39="" class="position-absolute" href="https://www.linkedin.com/in/" title="Linkedin"><i class="fa fa-linkedin" _ngcontent-iln-c39="" aria-hidden="true"></i></a></h4>
        </li>
        <li class="li-membros">
          <img src="../../assets/quem-somos/leo.jpeg" style="width: 100%;" alt="">
          <h4 class="text-center font-weight-bold my-2">Leonardo<a _ngcontent-iln-c39="" class="position-absolute" href="https://www.linkedin.com/in/" title="Linkedin"><i class="fa fa-linkedin" _ngcontent-iln-c39="" aria-hidden="true"></i></a></h4>
        </li>
        <li class="li-membros">
          <img src="../../assets/quem-somos/mal.jpeg" style="width: 100%;" alt="">
          <h4 class="text-center font-weight-bold my-2">Malcolm<a _ngcontent-iln-c39="" class="position-absolute" href="https://www.linkedin.com/in/" title="Linkedin"><i class="fa fa-linkedin" _ngcontent-iln-c39="" aria-hidden="true"></i></a></h4>
        </li>
        <li class="li-membros">
          <img src="../../assets/quem-somos/ka.jpeg" style="width: 100%;" alt="">
          <h4 class="text-center font-weight-bold my-2">Karina<a _ngcontent-iln-c39="" class="position-absolute" target="_blank" href="https://www.linkedin.com/in/karina-ricioni/" title="Linkedin"><i class="fa fa-linkedin" _ngcontent-iln-c39="" aria-hidden="true"></i></a></h4>
        </li>
        <li class="li-membros">
          <img src="../../assets/quem-somos/jao.jpeg" style="width: 100%;" alt="">
          <h4 class="text-center font-weight-bold my-2">João<a _ngcontent-iln-c39="" class="position-absolute" href="https://www.linkedin.com/in/" title="Linkedin"><i class="fa fa-linkedin" _ngcontent-iln-c39="" aria-hidden="true"></i></a></h4>
        </li>
      </ul>

    </div>
  </div>


</div>
